.app {
  display: flex;
  flex-flow: row wrap;
  padding-left: 100px;
  padding-right: 100px;
}

@media only screen and (max-width: 600px) {
  .app {
    padding: 2px;
  }
}

.skills-list {
  display: flex;
  flex-flow: row wrap;
  max-width: 300px;
}

.skills-list__img {
  max-height: 50px;
  margin: 10px;
}