.app {
  display: flex;
  align-items: center;
  justify-content: center;;
  flex-flow: row wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.bio {
  justify-self: center;
}

.external-link {
  color: rgb(107, 196, 255);
  text-decoration: none;
}

a:visited {
  
}

@media only screen and (max-width: 1200px) {
  .app {
    padding: 2px;
  }
}