.app {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.bio {
  justify-self: center;
}

@media only screen and (max-width: 1200px) {
  .app {
    padding: 2px;
  }
}