.card {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    min-height: 400px;
    min-width: 300px;
    background-color: white;
    background-size: cover;
    margin: 20px;
    flex-grow: 1;
    padding: 20px 50px;
    align-items: center;
    justify-content: center;
}

.card > h1 {
    text-align: center;
}

.card > p {
    line-height: 1.2em;
}

.card img {
    max-height: 400px;
}

.card:hover {
    transform: scale(1.01);
}
