.card {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    height: 400px;
    min-width: 400px;
    background-color: white;
    background-size: cover;
    margin: 20px;
    flex-grow: 1;
    padding: 20px;
    align-items: center;
}

.card:hover {
    transform: scale(1.01);
}

.card__title {
    font-size: 2em;
    font-weight: 500;
    max-width: 50%;
    align-self: flex-start;
}

.card__content {
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    flex-grow: 1;
}