.quad {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "a1 a2"
        "b1 b2";
    height: 440px;
    min-width: 300px;
    margin: 20px;
    flex-grow: 1;
    grid-gap: 40px;
    padding: 0px;
}

.quad__corner {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quad__corner__img {
    height: 100px;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.b1 {
    grid-area: b1;
}
.a1 {
    grid-area: b2;
}