.quad {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "a1 a2"
        "b1 b2";
    height: 440px;
    width: 440px;
    margin: 20px;
    grid-gap: 40px;
    padding: 0px;
}

@media screen and (max-height: 1200px) {
    .quad {
        flex-grow: 1;
    }
}

.quad__corner {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quad__corner:hover {
    transform: scale(1.01);
}

.quad__corner__img {
    max-width: 30%;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.b1 {
    grid-area: b1;
}
.a1 {
    grid-area: b2;
}